<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Github projects
  </h1>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <div class="list-group" *ngFor="let group of projectService.groups">
      <h1>
        {{ group.title }}
      </h1>
      <a href="#" class="list-group-item list-group-item-action"
         routerLinkActive="active"
         [routerLink]="project.url"
         *ngFor="let project of group.projects">
        <app-github-project [project]="project" *ngIf="project"></app-github-project>
      </a>
    </div>
  </div>
  <div class="col-md-7">
    <router-outlet></router-outlet>
  </div>
</div>
